.wallet-info {
  background-color: white;
  padding: 30px;
  border-radius: 5px;

  table {
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid lightgrey;
      th, td {
        padding: 8px;
      }
      th {
        text-align: left;
        padding-right: 40px;
      }
      td {
        text-align: right;
      }
      span {
        cursor: copy;
        font-weight: 600;
        color: #661c59;
      }
    }
  }

  button {
    padding: 6px 32px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: #661c59;
    color: #F8ECFE;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 32px;
    display: block;
    width: 100%;
  }
}
