header {
  background-color: #661c59;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;

  img {
    height: 32px;
  }

  button {
    padding: 6px 32px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: #F8ECFE;
    color: #262830;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
}
